<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de camas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Asignación de camas</h1>
    <div class="container">
        <div class="button-container">
            <a href="/asignar_cama">
                <button>Asignar cama</button>
            </a>
            <a href="/liberar_cama">
                <button>Liberar cama</button>
            </a>
        </div>
        <a href="/">
            <button class="back-button">Volver Atras</button>
        </a>
    </div>
    
    
    
</body>
</html>
