<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial de pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Historial de pacientes</h1>
    <div class="container">
        <div class="button-container">
            <a href="/ver_historial">
                <button>Ver Historial de pacientes</button>
            </a>
            <a href="/deshacer_ultima">
                <button>Deshacer ultima atención</button>
            </a>
        </div>
            <a href="/" >
                <button class="back-button">Volver Atras</button>
            </a>
        
       
    </div>
    
 
    
</body>
</html>
