<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Historial de pacientes</h1>
    <div class="container">
        <ul>
            {% for descripcion in historial %}
            <li>{{ descripcion|safe }}</li>
            {% endfor %}
        </ul>
    
        <a href="/historial">
            <button class="back-button">Volver Atrás</button>
        </a>
    </div>
    
</body>

</html>